    h1 {
        color: #E01414;
        background-color: #18DB57;
        font-size: 24px;
    }
    div {
    background-color: #389C58;
    }
    span {
    background-color: #385C43;
    }

    h2 {
        background-color: black;
    }